@model IEnumerable<RestaurantWebApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Admin")) {
    <h1 class="center">Reservations</h1>
}
else {
    <h1 class="center">My Reservations</h1>
}



@if (User.IsInRole("Admin")){
    <p class="center">
        <a class="btn btn-dark" asp-action="Create">Create New Reservation</a>
    </p>
    <div class="table-container center">
        <table class="Tables center">
            <thead>
                <tr>
                    <th>
                        Guests
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdditionalInformation)
                    </th>                
                    <th>
                        @Html.DisplayNameFor(model => model.User.Email)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Guests)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Date)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Time)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.AdditionalInformation)
                        </td>                    
                        <td>
                            @Html.DisplayFor(modelItem => item.User.Email)
                        </td>
                        <td>
                            <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    
}


else {

    <div class="table-container center">
        <table class="center">
            <thead>
                <tr>
                    <th>
                        Guests
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AdditionalInformation)
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    @if (item.UserId == ViewData["UserId"].ToString())
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Guests)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Date)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Time)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AdditionalInformation)
                            </td>

                            <td>
                                <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                            </td>
                        </tr>
                    }                
                }
            </tbody>
        </table>
    </div>    
}


