@model IEnumerable<RestaurantWebApp.Models.MenuItem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="center">Menu Items</h1>

<p class="center">
    <a class="btn btn-dark" asp-action="Create">Create New</a>
</p>

<div class="table-container">

    <table class="Tables center">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ImgURL)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ImgURL)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a class="btn btn-dark" asp-action="Edit" asp-route-id="@item.MenuItemId">Edit</a> |
                        <a class="btn btn-dark" asp-action="Details" asp-route-id="@item.MenuItemId">Details</a> |
                        <a class="btn btn-dark" asp-action="Delete" asp-route-id="@item.MenuItemId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
